*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
.wheel{
    background-image: url(../photo/wheel.png);
    background-position: 100px 100px;
    width: 100px;
    height: 100px;
    animation: wheel 1s linear 100 ;
    animation-delay: 3s;   
}
@keyframes wheel{
    0%{transform: rotate(360deg);
    }
}
#wheel1{
    float: left;
    margin-top: 15px;
    margin-left: 95px;
}
#wheel2{
    float: right;
    margin-top: 15px;
    margin-right:38px ;
}

.truck2{
    color: white;
    width: 500px;
    height: 400px;
    position: relative;
    float: right;
    background-image: url('../photo/truck3.png');
    background-size: 100% 100%;
    margin-top: 230px;
} 
#label{
    width: 286px;
    height: 256px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 30px;
    margin-top: 9px;
    margin-left: 11px;
    text-align: center;
    font: 2em sans-serif;
}
.truck{
    position: absolute;
    bottom: 1vh;
    width: 500px;
    height: 400px;
    background-image: url('../photo/truck3.png');
    background-size: 100% 100%;
}

.photo{
    border-radius: 20px;
    width: 285px;
    height: 256px;
    margin-top: 9px;
    margin-left: 11px;
    background-image: url('../photo/cover.jpeg');
    background-size: 100% 100%;
    animation: image 100s linear 1 ;
    animation-delay: 3s;
    animation-direction: reverse;
}

.city1{
    position: absolute;
    left:-100%;
    width:100%;
    height: 100%;
    animation: city1 5s linear 20 reverse;
    animation-delay: 3s;
}
.city2{
    position: absolute;
    left:0px;
    width:100%;
    height: 100%;
    animation: city2 5s linear 20 reverse;
    animation-delay: 3s;
}
@keyframes city1 {
   from{left:-100%}
   to{left:0px}
}
@keyframes city2 {
   from{left:0px}
   to{left:100%}
}

.preloader{
    width: 285px;
    height: 256px;
    background-image: url('../photo/cover.jpeg');
    background-size: 285px 256px;
    animation: image 2s linear 1;
    visibility: hidden;
}


@keyframes image{

    0%{
        background-image: url('../photo/rafu\ \(4\).jpg') ;  
    }
    2%{
        background-image: url('../photo/rafu\ \(1\).jpg');  
    }
    4%{
        background-image: url('../photo/rafu\ \(3\).jpg');  
    }
    6%{
        background-image: url('../photo/rafu.jpg');  
    }
    8%{
        background-image: url('../photo/rafu\ \(5\).jpg');  
    }

    10%{
        background-image: url('../photo/aus.jpg');  
    }
    12%{
        background-image: url('../photo/aus\ \(1\).jpg');  
    }
    14%{
        background-image: url('../photo/aus\ \(2\).jpg');  
    }
    16%{
        background-image: url('../photo/aus\ \(3\).jpg');  
    }
    18%{
        background-image: url('../photo/aus\ \(5\).jpg');  
    }
    
    20%{
        background-image: url('../photo/IMG-20180518-WA0045.jpg');  
    }
    22%{
        background-image: url('../photo/IMG-20180531-WA0036.jpg');  
    }
    24%{
        background-image: url('../photo/IMG-20180518-WA0091.jpg');  
    }
    26%{
        background-image: url('../photo/IMG-20180518-WA0077.jpg');  
    }
    28%{
        background-image: url('../photo/IMG-20180518-WA0072.jpg');  
    }

    30%{
        background-image: url('../photo/miraj\ \(1\).jpg');  
    }
    32%{
        background-image: url('../photo/miraj\ \(2\).jpg');  
    }
    34%{
        background-image: url('../photo/miraj\ \(3\).jpg');  
    }
    36%{
        background-image: url('../photo/miraj\ \(4\).jpg');  
    }
    38%{
        background-image: url('../photo/miraj\ \(5\).jpg');  
    }

    40%{
        background-image: url('../photo/2018-02-09-15-11-54-848.jpg');  
    }
    42%{
        background-image: url('../photo/2018-02-09-15-12-13-222.jpg');  
    }
    44%{
        background-image: url('../photo/2018-02-09-15-12-35-657.jpg');  
    }
    46%{
        background-image: url('../photo/2018-02-09-15-13-05-790.jpg');  
    }
    48%{
        background-image: url('../photo/2018-02-19-16-02-07-460.jpg');  
    }

    50%{
        background-image: url('../photo/fest\ \(1\).jpeg');  
    }
    52%{
        background-image: url('../photo/fest\ \(2\).jpeg');  
    }
    54%{
        background-image: url('../photo/fest\ \(3\).jpeg ')
    }
    56%{
        background-image: url('../photo/fest\ \(4\)3.jpg');  
    }
    58%{
        background-image: url('../photo/fest\ \(4\)3.jpg');  
    }

    60%{
        background-image: url('../photo/dp\ bir\ \(1\).jpeg');  
    }
    62%{
        background-image: url('../photo/dp\ bir\ \(2\).jpeg');  
    }
    64%{
        background-image: url('../photo/dp\ bir\ \(3\).jpeg')  
    }
    66%{
        background-image: url('../photo/dp\ bir\ \(4\).jpeg')  
    }
    68%{
        background-image: url('../photo/dp\ bir\ \(5\).jpeg')  
    }

    70%{
        background-image: url('../photo/diwali\ \(1\).jpeg');  
    }
    72%{
        background-image: url('../photo/diwali\ \(2\).jpeg');  
    }
    74%{
        background-image: url('../photo/diwali\ \(3\).jpeg');  
    }
    76%{
        background-image: url('../photo/diwali\ \(4\).jpeg');  
    }
    78%{
        background-image: url('../photo/diwali\ \(5\).jpeg');  
    }

   

    80%{
        background-image: url('../photo/my\ birthday\ \(1\).jpeg')  
    }
    82%{
        background-image: url('../photo/my\ birthday\ \(2\).jpeg')  
    }
    84%{
        background-image: url('../photo/my\ birthday\ \(3\).jpeg')  
    }
    86%{
        background-image: url('../photo/my\ birthday\ \(8\).jpeg')  
    }
    88%{
        background-image: url('../photo/my\ birthday\ \(9\).jpeg')  
    }


    90%{
        background-image: url('../photo/last\ \(1\).jpeg')   
    }
    92%{
        background-image: url('../photo/last\ \(2\).jpeg')  
    }
    94%{
        background-image: url('../photo/last\ \(3\).jpeg')  
    }
    96%{
        background-image: url('../photo/last\ \(4\).jpeg')  
    }
    98%{
        background-image: url('../photo/last\ \(5\).jpeg')
    }
}
@media(max-width:600px){
  
    
 }